<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book">
	<select id="seq" resultType="Integer">
		SELECT book_Seq.NEXTVAL FROM dual
	</select>

	<insert id="insertBook" parameterType="com.sp.tp.book.Book">
		INSERT INTO book(bNum, userId, bookDate)
		VALUES(#{bNum}, #{userId}, SYSDATE)
	</insert>
	
	<insert id="insertBook2" parameterType="com.sp.tp.book.Book">
		INSERT INTO book2(b2Num, bNum, ptNum, seat_num, seat_price)
		VALUES(book2_seq.NEXTVAL, #{bNum}, #{ptNum}, #{seat_num}, #{seat_price})
	</insert>
	
	<select id="readBook" parameterType="String" resultType="com.sp.tp.book.Book">
		SELECT MAX(bNum) bNum 
		FROM BOOK
		WHERE userId = #{userId} 
	</select>
	
	<delete id="deleteBook2" parameterType="Integer">
		DELETE FROM book2 WHERE bNum = #{bNum}
	</delete>
	
	<delete id="deleteBook" parameterType="Integer">
		DELETE FROM book WHERE bNum = #{bNum}
	</delete>
	
	<select id="readPay" parameterType="Integer" resultType="com.sp.tp.book.Book">
		SELECT SUM(seat_price) amount, subject
		FROM book2 b
		JOIN performanceTime pt ON pt.ptNum = b.ptNum
		JOIN schedule s ON s.perfNum2 = pt.perfnum2 AND s.perf_date = pt.perf_date
		JOIN performance p ON p.perfNum = s.perfNum2
		WHERE bNum = #{bNum}
		GROUP BY subject
	</select>
	
	<select id="readComplete" parameterType="map" resultType="com.sp.tp.book.Book">
		SELECT hallName hName, t.tNum tNum, t.name tName, seat_num
	    FROM book b
	    JOIN book2 b2 ON b.bNum = b2.bNum
	    JOIN performanceTime pt ON pt.ptNum = b2.ptNum
		JOIN schedule s ON s.perf_date = pt.perf_date AND s.perfnum2 = pt.perfnum2
	    JOIN performance p ON p.perfNum = s.perfNum2
        JOIN hall h ON s.hNum = h.hNum
        JOIN theater t ON pt.tNum = t.tNum
	    WHERE userId = #{userId} AND b.bNum = #{bNum}
	</select>
	
	<update id="updateBook" parameterType="map">
		UPDATE book SET price = #{price}, amount = #{amount}, state = #{state}
		WHERE bNum = #{bNum}
	</update>
	
	<select id="readCoupon" parameterType="String" resultType="com.sp.tp.book.Book">
		SELECT m.couponNum, coupon
		FROM myCoupon m
		JOIN member1 m1 ON m.userId = m1.userId
		JOIN coupon c ON m.couponNum = c.couponNum
		WHERE useCoupon = 0 AND startDate &lt; SYSDATE AND endDate &gt; SYSDATE AND m.userId = #{userId}
	</select>
	
</mapper>