<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coupon">
	<select id="listCoupon" resultType="com.sp.tp.event.Coupon">
		SELECT couponNum, coupon, TO_CHAR(startDate, 'YYYY-MM-DD') startDate, TO_CHAR(endDate, 'YYYY-MM-DD') endDate
		FROM coupon
        WHERE endDate &gt;= SYSDATE
		ORDER BY couponNum DESC
	</select>
	
	<insert id="insertMycoupon" parameterType="map">
		INSERT INTO myCoupon (userId, couponNum, useCoupon)
		VALUES (#{userId}, #{couponNum}, #{useCoupon})
	</insert>
	
	<select id="readCoupon" parameterType="String" resultType="com.sp.tp.event.Coupon">
		SELECT couponNum, coupon, TO_CHAR(startDate, 'YYYY-MM-DD') startDate, TO_CHAR(endDate, 'YYYY-MM-DD') endDate
		FROM coupon
		WHERE couponNum=#{couponNum}
	</select>
	
	<select id="couponExist" parameterType="map" resultType="Integer">
		SELECT NVL(count(*), 0) from (
			SELECT userId, mc.couponNum, useCoupon from myCoupon mc
			LEFT OUTER JOIN coupon c 
			ON c.couponNum = mc.couponNum
			WHERE userId = #{userId}
			AND mc.couponNum = #{couponNum}
		)
	</select>
</mapper>