<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rank">

	<!-- 예매 랭킹 -->
	<select id="bookRank" resultType="com.sp.tp.rank.Rank">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT b2.ptNum, COUNT(*), subject, rating, 
		            TO_CHAR(startDate, 'YYYY-MM-DD') startDate,
		            TO_CHAR(endDate, 'YYYY-MM-DD') endDate, 
		            po.saveFilename postFilename, h.hallName, p.perfNum, rate
		        FROM book2 b2, performanceTime pt, schedule s, performance p, poster po, hall h, rate r
		        WHERE b2.ptNum=pt.ptNum AND pt.perf_date=s.perf_date 
		            AND s.perfNum2=p.perfNum AND po.perfNum=p.perfNum
		            AND s.hNum=h.hNum AND r.rNum = p.rNum
		        GROUP BY b2.ptNum, subject, rating, 
		            TO_CHAR(startDate, 'YYYY-MM-DD'),
		            TO_CHAR(endDate, 'YYYY-MM-DD'), 
		            po.saveFilename, h.hallName, p.perfNum, rate
		        ORDER BY COUNT(*) DESC
			) tb WHERE ROWNUM &lt;= 10
		) WHERE rnum &gt;= 1
	</select>
	
	<!-- 평점 랭킹 -->
	<select id="ratingRank" resultType="com.sp.tp.rank.Rank">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT rating, subject, p.perfNum, TO_CHAR(startDate, 'YYYY-MM-DD') startDate,
		            TO_CHAR(endDate, 'YYYY-MM-DD') endDate, h.hallName, po.saveFilename postFilename
		        FROM performance p, schedule s, hall h, poster po
		        WHERE p.perfNum=s.perfNum2 AND h.hNum=s.hNum AND po.perfNum=p.perfNum
		        GROUP BY p.perfNum,rating, subject, p.perfNum, TO_CHAR(startDate, 'YYYY-MM-DD'),
		            TO_CHAR(endDate, 'YYYY-MM-DD'), h.hallName, po.saveFilename
		        ORDER BY rating DESC
			) tb WHERE ROWNUM &lt;= 10
		)WHERE rnum &gt;= 1
	</select>

</mapper>