@charset "UTF-8";

.body-container {
	
}

.body-title h3 {
	font-weight: bold;
}

@font-face {
    font-family: 'tp';
    src: url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}

body, h1, h2, h3, h4, h5, h6, p, span {
	font-family: 'tp' !important;
}

.nav-link {
	color: black;
}

.page-item.active .page-link {
    background-color: #0c3e72;
    border-color: #0c3e72;